<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bonc.colldata.mapper.baseData.CollPersonnelMapper">


	<!--插入人员数据-->
	<insert id="addPersonnelData" parameterType="com.bonc.colldata.entity.RYKB">
         INSERT  INTO t_zb_rykb
         VALUES
         (
         #{id},
         #{sfh},
         #{xm},
         #{bb},
         #{xb},
         #{jg},
         #{jgdm},
         #{zzmm},
         #{zzmmmc},
         #{cssj},
         #{rwsj},
         #{zwmc},
         #{xlmc},
         #{xl},
         #{byyx},
         #{szdwcjid},
         #{sflb},
         #{sflbmc}
         )
     </insert>
	<insert id="insertPersonnelData" >
		replace  INTO t_zb_rykb
         VALUES
		<foreach collection="list" index="index" item="item" separator=",">
         (
			#{item.id},
			#{item.sfh},
			#{item.xm},
			#{item.bb},
			#{item.xb},
			#{item.jg},
			#{item.jgdm},
			#{item.zzmm},
			#{item.zzmmmc},
			#{item.cssj},
			#{item.rwsj},
			#{item.zwmc},
			#{item.xlmc},
			#{item.xl},
			#{item.byyx},
			#{item.szdwcjid},
			#{item.sflb},
			#{item.sflbmc}
         )
		</foreach>
     </insert>
	<!--查询列表-->
	<select id="getPersonnelByList" resultType="com.bonc.colldata.entity.RYKB" parameterType="java.util.Map">
		SELECT *  FROM t_zb_rykb WHERE 1=1
		<if test="xm!=null and xm!=''">
			AND xm LIKE '%'||#{xm}||'%'
		</if>
		<if test="szdwcjid!=null and szdwcjid!=''">

			AND szdwcjid =#{szdwcjid}
		</if>
   order by xm
	</select>
	<!--查询列表-->
	<select id="getPersonnelByDept" resultType="com.bonc.colldata.entity.RYKB">
		SELECT *  FROM t_zb_rykb
		WHERE  1=1
		  <if test="name != null and name != ''">
              and xm like '%'||#{name}||'%'
          </if>
		  <if test="IDcard != null and IDcard != ''">
              and sfh like '%'||#{IDcard}||'%'
          </if>
            <if test="array != null">
                and szdwcjid in
                <foreach collection="array" index="index" item="item" open="(" close=")"
                         separator=",">
                    #{item}
                </foreach>
            </if>
        order by id
	</select>
	<!--查询人员数据详情 byid-->
	<select id="checkById" parameterType="String" resultType="com.bonc.colldata.entity.RYKB">
          SELECT *  FROM t_zb_rykb WHERE 1=1 and id=#{id}
    </select>
	<!--修改人员信息-->
	<update id="updatePersonnel" parameterType="com.bonc.colldata.entity.CollPersonnelMaintain">
		update t_zb_rykb
		<set>
			<if test="sfh!=null and sfh!=''">sfh=#{sfh},</if>
			<if test="xm!=null and xm!=''">xm=#{xm},</if>
			<if test="bb!=null and bb!=''">bb=#{bb},</if>
			<if test="zwmc!=null and zwmc!=''">zwmc=#{zwmc},</if>
			<if test="xb!=null and xb!=''">xb=#{xb},</if>
			<if test="jg!=null and jg!=''">jg=#{jg},</if>
			<if test="jgdm!=null and jgdm!=''">jgdm=#{jgdm},</if>
			<if test="zzmm!=null and zzmm!=''">zzmm=#{zzmm},</if>
			<if test="zzmmmc!=null and zzmmmc!=''">zzmmmc=#{zzmmmc},</if>
			<if test="cssj!=null and cssj!=''">cssj=#{cssj},</if>
			<if test="rwsj!=null and rwsj!=''">rwsj=#{rwsj},</if>
			<if test="xlmc!=null and xlmc!=''">xlmc=#{xlmc},</if>
			<if test="xl!=null and xl!=''">xl=#{xl},</if>
			<if test="byyx!=null and byyx!=''">byyx=#{byyx},</if>
			<if test="szdwcjid!=null and szdwcjid!=''">szdwcjid=#{szdwcjid},</if>
			<if test="sflb!=null and sflb">sflb=#{sflb},</if>
			<if test="sflbmc!=null and sflbmc!=''">sflbmc=#{sflbmc},</if>
		</set>
		where id=#{id}
	</update>
	<delete id="deletePersonnelById" parameterType="java.util.Map">
		delete from t_zb_rykb  where
		id IN
		<foreach collection="list" open="(" close=")" item="i" separator="," index="index">
			#{i}
		</foreach>

	</delete>


</mapper>