<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bonc.colldata.mapper.baseData.CollPersonnelMapper">
	<resultMap id="tableHead" type="com.bonc.colldata.entity.CollBasicPersonnelConfig">
		<id column="basic_code" property="basicCode"/>
	    <result column="personnel_config_name" property="personnelConfigName"/>
		<result column="personnel_config_value" property="personnelConfigValue"/>
		<result column="state" property="state"/>
		<result column="if_check" property="ifCheck"/>
		<result column="if_list" property="ifList"/>
	</resultMap>
	<!--获取人员配置表有用字段信息-->
	<select id="getTableHead" resultMap="tableHead">
        select * from
        coll_basic_personnel_config where state='1'
     </select>
	<!--插入人员数据-->
	<insert id="addPersonnelData" parameterType="com.bonc.colldata.entity.CollPersonnelMaintain">
         INSERT  INTO coll_personnel_maintain
         VALUES
         (
         #{id},
         #{dept_id},
         #{name},
         #{a},
         #{b},
         #{c},
         #{d},
         #{e},
         #{f},
         #{g},
         #{h},
         #{i},
         #{j},
         #{k},
         #{l},
         #{m},
         #{n},
         #{o},
         #{p},
         #{q},
         #{r},
         #{s},
         #{t},
         #{u},
         #{v},
         #{w},
         #{x},
         #{y},
         #{z},
         #{state}
         )
     </insert>
	<!--查询列表-->
	<select id="getPersonnelByList" resultType="com.bonc.colldata.entity.CollPersonnelMaintain" parameterType="java.util.Map">
        SELECT *  FROM coll_personnel_maintain WHERE STATE='1'
        <if test="name!=null and name !=''">
	        AND name like '%'||#{name}||'%'
        </if>
		<if test="dept_id!=null and dept_id!=''">
			AND dept_id=#{dept_id}
		</if>
    </select>
	<!--查询人员数据详情 byid-->
	<select id="checkById" parameterType="String" resultType="com.bonc.colldata.entity.CollPersonnelMaintain">
          SELECT *  FROM coll_personnel_maintain WHERE STATE='1' and id=#{id}
    </select>
	<!--修改人员信息-->
	<update id="updatePersonnel" parameterType="com.bonc.colldata.entity.CollPersonnelMaintain">
		update coll_personnel_maintain
		<set>
			<if test="dept_id!=null and dept_id!=''">dept_id=#{dept_id},</if>
			<if test="name!=null and name!=''">name=#{name},</if>
			<if test="a!=null and a!=''">a=#{a},</if>
			<if test="b!=null and b!=''">b=#{b},</if>
			<if test="c!=null and c!=''">c=#{c},</if>
			<if test="d!=null and d!=''">d=#{d},</if>
			<if test="e!=null and e!=''">e=#{e},</if>
			<if test="f!=null and f!=''">f=#{f},</if>
			<if test="g!=null and g!=''">g=#{g},</if>
			<if test="h!=null and h!=''">h=#{h},</if>
			<if test="i!=null and i!=''">i=#{i},</if>
			<if test="j!=null and j!=''">j=#{j},</if>
			<if test="k!=null and k!=''">k=#{k},</if>
			<if test="l!=null and l!=''">l=#{l},</if>
			<if test="m!=null and m!=''">m=#{m},</if>
			<if test="n!=null and n!=''">n=#{n},</if>
			<if test="o!=null and o!=''">o=#{o},</if>
			<if test="p!=null and p!=''">p=#{p},</if>
			<if test="q!=null and q!=''">q=#{q},</if>
			<if test="r!=null and r!=''">r=#{r},</if>
			<if test="s!=null and s!=''">s=#{s},</if>
			<if test="t!=null and t!=''">t=#{t},</if>
			<if test="u!=null and u!=''">u=#{u},</if>
			<if test="v!=null and v!=''">v=#{v},</if>
			<if test="w!=null and w!=''">w=#{w},</if>
			<if test="x!=null and x!=''">x=#{x},</if>
			<if test="y!=null and y!=''">y=#{y},</if>
			<if test="z!=null and z!=''">z=#{z},</if>
		</set>
		where id=#{id}
	</update>
	<update id="deletePersonnelById" parameterType="String">
		update coll_personnel_maintain set state='0' where id=#{id}
	</update>

	<select id="getTableDesc" resultType="java.util.Map">
		pragma table_info ('coll_personnel_maintain')
	</select>
</mapper>